


@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Shade|Monoton|Odibee+Sans|Rye|Saira+Stencil+One&display=swap');


.navbar{
    display: grid;
    grid-template-columns: repeat(5,1fr );
    grid-area: valmynd;
    transform: skew(20deg);
    background:url(mynd_4.jpg) center no-repeat;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 20px;
    margin: 2em 0em 4em 0em;
    position: sticky;
    top: 0;
    
}
.left{
    grid-area: vinstri;
    min-height: 40em;
    background:url(mynd_5.jpg) center no-repeat;
    border-radius: 25px;
    margin: 0em 2em;
    font-family: white;
    

}
.left_2{
    grid-area: vinstri_2;
    min-height:  39em;
    background:url(mynd_3.jpg) center no-repeat;
    border-radius: 150px 0px 0px 150px;
}
.main{
    grid-area: midja;
    border-top-left-radius: 15em 1em;
    border-bottom-right-radius: 15em 1em;
    min-height: 35em;
    margin: 0em 2em;
    background:url(mynd_2.jpg) center no-repeat;
}




.main_2{
    grid-area: midja_2;
    min-height: 39em;
    background:url(mynd_9.jpg) top no-repeat;
    border-radius: 0px 225px 225px 0px;
}

.right{
    grid-area: haegri;
    min-height: 35em;
    min-width: 19em;
    background:url(mynd_2.png) center no-repeat;
}
.right_2{
    grid-area: haegri_2;
    min-height: 20 em;
    border-radius: 10px 150px 30px 150px;
    background:url(mynd_6.jpg) right no-repeat;
}
.right_3{
    grid-area: haegri_3;
    min-height: 20 em;
    background:url(mynd_1.jpg) right no-repeat;
    border-radius: 10px;
    

}
.left_3{
    grid-area: vinstri_3;
    min-height: 20 em;
    background:url(mynd_11.jpg) bottom no-repeat;
    border-radius: 10px;

}
.footer{
    grid-area: fotur;
    margin: 5em 0em 0em 0em;
    background:url(mynd_4.jpg) center no-repeat;
    
}
.space{
    grid-area: spasia;
    min-height: 5em;
    margin: 10em 0em 0em 0em;
}
.space_2{
    grid-area: spasia_2;
    min-height: 5em;
    margin: 10em 0em 0em 0em;
}
.space_3{
    grid-area: spasia_3;
    min-height: 5em;

}


body{
    display: grid;
    grid-template-areas:
    "valmynd valmynd valmynd valmynd valmynd"
    "midja midja midja midja haegri"
    "spasia spasia spasia spasia spasia"
    "vinstri vinstri haegri_2 haegri_2 haegri_2"
    "spasia_2 spasia_2 spasia_2 spasia_2 spasia_2"
    "vinstri_2 vinstri_2 midja_2 midja_2 midja_2"
    "spasia_3 spasia_3 spasia_3 spasia_3 spasia_3"
    "vinstri_3 vinstri_3 vinstri_3 haegri_3 haegri_3"
    "fotur fotur fotur fotur fotur";
    max-width: 1200px;
    margin: auto;
    background:url(mynd_8.jpg) top no-repeat; background-attachment:fixed;
        
}
p{
    color: whitesmoke;
    text-align: center;
    justify-items: center;
    align-items: center;
    font-family: 'Saira Stencil One', cursive;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
h1{
    color: blue;
    font-family: 'Bungee Shade', cursive;
    background: rgba(255, 255, 0, 0.753);
    border-radius: 40px;
}

@media screen and (min-width: 500px){
    body{
        display: grid;
        grid-template-areas:
        "valmynd"
        "valmynd"
        "valmynd"
        "valmynd"
        "valmynd"
        "midja"
        "haegri"
        "spasia"
        "vinstri"
        "haegri_2"
        "spasia_2"
        "vinstri_2" 
        "midja_2"
        "spasia_3"
        "vinstri_3"
        "haegri_3"
        "fotur";
    }
    
}

@media screen and (min-width: 800px){
    body{
        display: grid;
        grid-template-areas:
        "valmynd valmynd valmynd valmynd valmynd"
        "midja midja midja midja haegri"
        "spasia spasia spasia spasia spasia"
        "vinstri vinstri haegri_2 haegri_2 haegri_2"
        "spasia_2 spasia_2 spasia_2 spasia_2 spasia_2"
        "vinstri_2 vinstri_2 midja_2 midja_2 midja_2"
        "spasia_3 spasia_3 spasia_3 spasia_3 spasia_3"
        "vinstri_3 vinstri_3 vinstri_3 haegri_3 haegri_3"
        "fotur fotur fotur fotur fotur";
    }
}

/*
ATH ATH ATH Ég ákvað að hafa bar tvo brotpunkta þar sem vefsíðan mín er mjög spjaldtövlu vinaleg og nánast gerð fyrir spjaldtölvu
*/
    
 
h1{
    align-items: center;
    justify-items: center;
    text-align: center;
}

p{
    text-align: justify;
    margin: 8% 5%;
}

a{
    text-decoration:none;
    color: white;
    transform: skew(-20deg);
    
    

}
a:visited{
    color: yellow;
        }
a:hover{
    color: red;
        }

a:active{
    color: navy;
