@import url('https://fonts.googleapis.com/css2?family=Allan&display=swap');
@import "icomoon.scss";

.button{
    border-radius: 5%;
    border: 1px groove transparent;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button_2{
    background: brown;
    border-radius: 50%;
    border: 1px groove whitesmoke;
    color: whitesmoke;
    padding: 30%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 5px 5px;
    cursor: pointer;
    font-size: 30px;
  }

a:hover{color: black;}

.main{
    grid-area: midja;
    min-height: 300px;
    padding: 40px;
    align-items: center;
    text-align: justify;
    margin: 20px;
    font-size: 30px;
    font-family: 'Allan', cursive;
    color: red;
    
    
}
.sidebar{
    grid-area: augl;
    width:50%;
    padding: 10px;
    border: 1px dotted black;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin: 20px;
    font-size: 20px;
    font-family: 'Allan', cursive;
}
.bottom{
    grid-area: fotur;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    
}

.navbar{
    display: grid;
    align-items: center;
    grid-area: toppur;
    justify-items: center;
    text-align: center;
    padding: 20px;
    margin: 2em 0em 4em 0em;

    
}

.social{
    position: fixed;
    top: 30%;
    right: 0;
    left: 30%;
    font-size: 40px;
    
    
}

.grid_container_3{
    display: grid;
    grid-template-areas:
    ".  toppur toppur toppur"
    "midja midja midja augl"
    "fotur fotur fotur fotur";
    max-width: 1200px;
    margin: auto;
}
body{
    background: burlywood;
    margin: auto;
}

.space{
    padding: 4px auto;
    margin: auto;
}
.mynd_adal{
    width: 100%;
    max-width: 300;
    height: auto;
}


.mynd_extra{
    width: 22%;
    height: 22%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    justify-items: center;
}

@media screen and (min-width: 1px){
    .grid_container_3{
        display: grid;
        grid-template-areas:
        "toppur" 
        "toppur" 
        "toppur"
        "toppur"
        "midja"
        "midja"
        "augl"
        "fotur"
        "fotur"
        "fotur"
        "fotur";
        max-width: 1200px;
        margin: auto;
    }

}

@media screen and (min-width: 600px){
    .grid_container_3{
        display: grid;
        grid-template-areas:
        "toppur" 
        "toppur" 
        "toppur"
        "toppur"
        "midja"
        "midja"
        "augl"
        "fotur"
        "fotur"
        max-width: 1200px;
        margin: auto;
    }
}

@media screen and (min-width: 800px){
    .grid_container_3{
        display: grid;
        grid-template-areas:
        ".  toppur toppur toppur"
        "midja midja midja augl"
        "fotur fotur fotur fotur";
        max-width: 1200px;
        margin: auto;
    }

}