body{
    display: grid;
    grid-template-areas: 
    "haus haus haus haus haus"
    "valmynd valmynd valmynd valmynd valmynd"
    "vinstri midja midja haegri haegri"
    "fotur fotur fotur fotur fotur";
    width: 1200px;
    margin: auto;
    background-color: white;
    background-image: url("geimur 4k.jpg");
        max-width: 100%;
    
}
.a{
    line-height: 0%;
}
.stort{
    font-size: 55pt;
}
h1{
    text-align:center;
    font-family: 'Bungee Inline';
}
p{
    margin: 20px;
    text-align: justify;
    font-family: 'Turret Road';
    
    
}
a{
    font-family: 'Monoton';
    color: rgb(56, 159, 194);
    text-decoration:none;
}
a:visited{
    color: darkblue;
        }

a:hover{
    color: red;
        }

a:active{
    color: purple ;
        }
.header{
    grid-area: haus;
    border: 1px hidden rgba(0, 0, 0, 0.404);
    margin-top: 20px; 
    color: whitesmoke;
}
.navbar{
    grid-area: valmynd;
    border: 1px hidden rgba(0, 0, 0, 0.404);
    background-image: linear-gradient(white, rgb(214, 203, 203), white);
}
.left{
    grid-area: vinstri;
    border: 1px hidden rgba(0, 0, 0, 0.404);
    background-color: rgba(0, 0, 0, 0.404);
    color: white
}

.main{
    grid-area: midja;
    border: 1px hidden rgba(0, 0, 0, 0.404);
    background-color: rgba(255, 255, 255, 0.404);
    
}

.right{
    grid-area: haegri;
    border: 1px hidden rgba(0, 0, 0, 0.404);
    background-color: rgba(0, 0, 0, 0.404);
    color: white
}
.footer{
    grid-area: fotur;
    border: 1px hidden rgba(0, 0, 0, 0.404);
    margin-bottom: 10px; 
    background-image: linear-gradient(white, rgb(214, 203, 203), white);
}
.seperate{
    display:grid;
    grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    text-align: center;
    height: 60px;
        align-items: center;

}
.box{
    border: 1px solid rgba(0, 0, 0, 0.404);
    margin: 50px;
}
.center{
    text-align:center;
    justify-content: center;
    align-items: center;
    margin: 20px;

}
