<!DOCTYPE html>

<html lang="is">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="..\scss\style.css" title="Default Styles" media="screen">
    <title>My Recipes</title>
</head>
<body>

        {% extends "layout.html" %}

        {% block content %}
        <header>
                <nav class="navbar">
                    <a class="button_3" href="forsida.html"><img class="mynd_adal" src="../recipes/img/braud.svg"></a>
                    <a class="button_3" href="index.html"><span class="icon-Bread"> </span></a>
                    <a class="button_3" href="index.html"><span class="icon-Meat"> </span></a>
                    <a class="button_3" href="index.html"><span class="icon-Vegan"> </span></a>
                    <a class="button_3" href="index.html"><span class="icon-Drink"> </span></a>
                </nav>
            </header>
            <div class="social">
                    <a class="button_4" href="https://www.facebook.com/"><span class="icon-facebook"> </span></a><br>
                    <a class="button_4" href="https://www.instagram.com/"><span class="icon-instagram">  </span></a><br>
                    <a class="button_4" href="https://twitter.com/explore"><span class="icon-twitter">  </span></a><br>
                    <a class="button_4" href="https://www.google.com/"><span class="icon-google">  </span></a>
            </div>   
        <div class="grid_container">
        
        {% for post in posts %}
        
            <div>
        
                <article class="grid_item">
                    <header>
                        
                        <img class="img_edit" src="{{ post.thumbnail }}">
                    </header>
                    <footer>
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.summary}}</p>
                        <small class="numbers">{{ post.date }}</small>
                        <br>
                        <a class="button" href="posts/{{ post.slug }}.html">Recipe</a>
                        <br>
                        {% set list_of_tags = post.tags.split(",") %}
                        {% for tag in list_of_tags %}
                        <button class="button_2">{{ tag }}</button>
                        {% endfor %}
                    </footer>
                    
                </article>
        
            </div>
        
        {% endfor %}
        
        </div>

{% endblock %}
</body>
</html>